body{
    background-color: var(--roxo)
}


:root{
--cor-de-fundo:#000000;
--cor-de-texto:#ffffff;
--roxo: rgb(250, 250, 250);

}
header{



    display: flex;
    justify-content: space-around;
    align-items: center;
}
img{
    width: 10%;
}  

.imagem {
  width: 30%;
}

.apresentacao{
    display: flex;
    background-color: var(--cor-de-fundo)
    color: var(#ffffff)
    /* border: 2px solid var(--cor-de-fundo);  */
    /* border-width: 20px 0 0 0; */

    margin: 20px 0 0 0;
    padding: 20px 0;
    border-radius: 14px 




}