body{
    background-color: rgb(132, 114, 180);
}


:root{
--cor-de-fundo:#000000;
--cor-de-texto:#ffffff;

}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
img{
    width: 10%;
}  

.imagem {
  width: 30%;
}

.apresentacao{
    display: flex;
    background-color: var(--cor-de-fundo);
    color: var(--cor-de-texto);
}