body{
    background-color: rgb(132, 114, 180);
}


:root{
--cor-de-fundo:#000000;
--cor-de-texto:#ffffff;

}
header{
    display: flex;
    align-self: center;
    flex-direction: column-reverse;
}
img{
    width: 230;
}